.Navbar {
  display: flex;
  height: 110px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.Navbar-logo {
  color: #f8893a;
  font-family: "Mukta";
  font-size: 45px;
  font-weight: 550;
  margin-left: 41px;
  white-space: nowrap;
  cursor: pointer;
}

.Navbar-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin-right: 20px;
}

.Navbar-menu li {
  list-style-type: none;
  color: #edddd1;
  font-family: "Montserrat", sans-serif;
  font-size: 26px;
  white-space: nowrap;
  font-weight: 300;
  margin: 0 15px 0 15px;
}

.Navbar-menu li:hover {
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .Navbar {
    flex-direction: column;
    height: fit-content;
  }
  .Navbar-logo {
    margin: 0;
  }
  .Navbar-menu {
    margin: 0 auto 10px auto;
  }
  .Navbar-menu li {
    font-size: 22px;
  }
}

@media only screen and (max-width: 425px) {
  .Navbar-menu {
    margin: 0 0 10px;
    width: 100vw;
    justify-content: space-around;
    box-sizing: border-box;
  }
  .Navbar-menu li {
    font-size: 20px;
    margin: 0;
  }
}